{
  "presets": ["latest", "react"]
}

/*
presets:
env
es2015
es2016
es2017
latest (deprecated in favor of env)
react
flow


stages:
0,1,2,3
new js features that are not yet finalized


+ plugins: (one by one instead of presets)
object-assign

https://babeljs.io/docs/plugins/
*/